@charset "utf-8";
/* CSS Document */

.preview{

	border: inset #E1E1E1 2px;
	width: 525px;
	height: 253px;

	margin-left: 30px;
	margin-top: 20px;
	
	display: inline-block;
}

.preview:nth-child(odd){
	
	margin-right:13.5em;
}

.preview:nth-last-child(1){
	margin-bottom: 200px;
}
html body {
    background-color: white;
    padding: auto auto auto;
}
#logo {
    padding-top: 2em;
}
.preview #bigs {
	position: relative;
    display: block;	
}
.preview #rrl {
	
    position: relative;
    display: block;
}
.preview #snow {
    position: relative;
    display: block;
	
}
.preview #mm {

    position: relative;
    display: inline-block;
}
.preview #blog {
    position: relative;
    display: inline-block;
}
.preview #social {
    position: relative;
    display: inline-block;
}


*/ @media screen and (max-width: 769px) {
#logo {
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}
#name {
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 text-align: center;
}
#featured {
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 width: inherit;
}
#bigs {
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 width: 80%;
}
#rrl {
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 width: 80%;
}
#snow {
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 width: 80%;
}
#description {
 text-align: center;
}
}

@media screen and (max-width: 641px) {
#logo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#name {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
#featured {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: inherit;
}
#bigs {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
#rrl {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
#snow {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
#description {
    text-align: center;
}
}
